@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #D1D1D1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

/* Custom sleek dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
